body {
    text-align: center;
    background-color: rgb(9, 9, 51);
}
.form {
    color: white;
}
.item {
    margin: 10px;
    padding: 10px;
    border: solid 1px white;
}
.navigation {
    display: none;
}